/bin/
/target/*
/SearchBotData
/SearchBotLog
/FFBEBotData
/FFBEBotLog
/FFBEBotPreload
/.classpath
/.project
/target/
/.settings/
/.project
/.classpath
/.credentials
/.DS_Store
/**/.DS_Store
**/.DS_Store